.clients-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.clients-item {
    display: inline-block;
    &:nth-child(-n+4){
        margin-bottom: 30px;
    }
    
    &:nth-child(2n-1){
        margin-right: 30px;
    }
}

.clients-item__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 210px;
    height: 92px;

    color: $icon-color;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: color $transition-duration $transition-timing-function, border-color $transition-duration $transition-timing-function;

    &:hover, &:focus {
        border-color: $brand-color;
        color: $brand-color;
    }
}

.clients-item__icon {
    margin: 0;
    padding: 0;
    border: 0;
    fill: currentColor;
}