.clients-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.clients-item {
    @include mq(mobile-only){
        &:nth-child(-n+4){
        margin-bottom: 30px;
        }
    
        &:nth-child(2n-1){
        margin-right: 30px;
        }
    }
    @include mq(tablet-only) {
        margin-right: 30px;
        &:nth-child(-n+3){
        margin-bottom: 30px;
        }

        &:nth-child(3n+3){
            margin-right: 0px;
        }
    }

    @include mq(desktop) {
        &:not(:last-child) {
            margin-right: 30px;
        }        
    }
    
}

.clients-item__link {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(mobile-only){
        width: 210px;
        height: 92px;
    }

    @include mq(tablet-only){
        width: 226px;
        height: 92px;
    }

    @include mq(desktop) {
        width: 170px;
        height: 92px;
    }

    

    color: $icon-color;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: color $transition-duration $transition-timing-function, border-color $transition-duration $transition-timing-function;

    &:hover, &:focus {
        border-color: $brand-color;
        color: $brand-color;
    }
}

.clients-item__icon {
    margin: 0;
    padding: 0;
    border: 0;
    fill: currentColor;
}