.features-list {
    @include mq(tablet-only){
        display: flex;
        flex-wrap: wrap;
    }
    @include mq(desktop) {
        display: flex;
    }
}

.features-item {
    @include mq(mobile-only){
        width: 450px;
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    
    @include mq(tablet-only) {
        display: inline-block;
        width: 354px;
        &:nth-child(2n+1){
            margin-right: 30px;
        }
        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }     
    }      

    @include mq(desktop) {
        width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.features-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    margin-bottom: 30px;

    background: $secondary-background;
    border-radius: 4px;
}

.features-item__title {
    margin-bottom: 10px;
    color: $title-color;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @include mq(tablet) {
        text-align: start;
    }


}

.features-item__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}