.header {
        border-bottom: 1px solid #ececec;
        position: relative;
    }

.logo-accent {
    color: $brand-color;
}

.logo-link {
    color: $title-color;

    font-family: $secondary-font;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 24px;
    line-height: 1.08;
    text-decoration: none;
    &--big-hover{
        display: inline-block;
        padding-top: 16px;
        padding-bottom: 16px;
        }
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-button {
    display: inline-flex;
    border: none;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 100;
    cursor: pointer;
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross{
    display:block;
    color: current;
    }

.menu-button:hover .icon-cross, .menu-button:focus .icon-cross {
    fill: $brand-color;
}

.menu-button:hover .icon-menu, .menu-button:focus .icon-menu {
    fill: $brand-color;
}

.menu-button.is-open .icon-menu{
    display:none;
}

.menu-container {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;

    padding: 48px 40px;

    background-color:$white-color;

    &.is-open {
        display: block;
    }
}

.menu-container .icon-cross {
    display: none;
}

.menu-container.is-open .icon-cross{
    display:block;
}

.menu-container.is-open .icon-menu{
    display:none;
}

.navigation__list {
    display: block;
    color: $title-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;

    text-align: start;
}

.navigation__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    &:not(:last-child)
    {margin-bottom: 32px;} 
}

.navigation__link {
    color: inherit;
    text-decoration: none;

    &--bottom-border {
        color: $brand-color;
    }
}

.contacts__list {
    text-align: start;
    margin-top: 302px;
}

.contacts__item{
    &:not(:last-child){
    margin-bottom: 32px;}
}

.contacts__link {
    color: $text-color;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color $transition-duration $transition-timing-function;

    &--brand-color{
        color: $brand-color;
        font-size: 34px;
        line-height: 1.18;
    }
}

.contacts__icon {
    display: none;
    margin-right: 10px;
    fill: currentColor;
}

.mobile-socials {
    margin-top: 64px;
}

.mobile-socials__item {
    display: inline-block;
    &:not(:first-child){
        margin-left: 10px;
    }
}

.mobile-socials__item:not(:last-child){
    &::after{
            content:'';
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            margin-left: 10px;
    }
}

.mobile-socials__link {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $brand-color;
}