.header {
        border-bottom: 1px solid #ececec;
        position: relative;
    }

.navigation {
    @include mq(tablet) {
        display: flex;
        align-items: center;
    }
}

.logo-accent {
    color: $brand-color;
}

.logo-link {
    color: $title-color;

    font-family: $secondary-font;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;
    @include mq(tablet-only){
        margin-right: 88px;
    }
    @include mq(desktop){
        margin-right: 93px;

        font-size: 26px;
        line-height: 1.19;
    }
    
    &--big-hover{
        display: inline-block;
        padding-top: 16px;
        padding-bottom: 16px;
        @include mq(tablet-only){
            padding-top: 26px;
            padding-bottom: 26px;
        }
        @include mq(desktop) {
            padding-top: 24px;
            padding-bottom: 25px;
            
        }
    }
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-button {
    display: inline-flex;
    border: none;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 100;
    cursor: pointer;

    @include mq(tablet){
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross{
    display:block;
    color: current;
    }

.menu-button:hover .icon-cross, .menu-button:focus .icon-cross {
    fill: $brand-color;
}

.menu-button:hover .icon-menu, .menu-button:focus .icon-menu {
    fill: $brand-color;
}

.menu-button.is-open .icon-menu{
    display:none;
}

.menu-container {
    @include mq(mobile-only) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        overflow: hidden;

        display: none;
        width: 100%;
        height: auto;
        padding: 48px 40px;

        background-color:$white-color;

        &.is-open {
        display: block;
        margin: 0 auto;
        }
    }
    @include mq(tablet) {
    display: flex;
    align-items: center;
    }
}

.menu-container .icon-cross {
    display: none;
}

.menu-container.is-open .icon-cross{
    display:block;
}

.menu-container.is-open .icon-menu{
    display:none;
}

.navigation__list {    
    color: $title-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    text-align: start;

    @include mq(mobile-only) {
        display: block;
    }

    @include mq(tablet-only){
        display: flex;
        align-items: center;
        margin-right: 84px;
    }
    @include mq(desktop){
        display: flex;
        align-items: center;
        margin-right: 305px;
    }
}

.navigation__item {
    position: relative;
    font-weight: 500;

    @include mq(mobile-only) {
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;

        &:not(:last-child){
        margin-bottom: 32px;
        }
    }

    @include mq(tablet){
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        &:not(:last-child){
        margin-right: 50px;
        }
    }

    @include mq(desktop) {
        
    }
}

.navigation__link {
    display: block;

    color: inherit;
    text-decoration: none;

    &:hover, &:focus{
        color: $brand-color;
    }

    &--bottom-border {
        color: $brand-color;
    }
    @include mq(tablet) {
        padding-top: 32px;
        padding-bottom: 32px;
        &--bottom-border::after {position: absolute;
        content: '';
        left: 0;
        bottom: -1px;

        height: 4px;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 2px;
        background-color: $brand-color;}
    }

    @include mq(desktop) {
    }
}

.contacts__list {
    @include mq(mobile-only){
        display: flex;
        flex-direction: column-reverse;

        text-align: start;
        margin-top: 302px;
    }

    @include mq(tablet-only) {
        display: block;
    }
    
    @include mq(desktop) {
        display: flex;
        align-items: center;
    }
}

.contacts__item{
    @include mq(mobile-only){
        &:not(:last-child){
        margin-top: 32px;
        }

        &:last-child .contacts__link {
            color: $brand-color;
            font-size: 34px;
            line-height: 1.18;
        }
    }

    @include mq(tablet-only){
        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    @include mq(desktop){
        margin-right: 30px;
    }
    
}

.contacts__link {  

    color: $text-color;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color $transition-duration $transition-timing-function;

    &:hover, &:focus {
        color: $brand-color;
    }
    @include mq(mobile-only){
        font-size: 24px;
    }
    @include mq(tablet){
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    @include mq(desktop) {
        padding-top: 32px;
        padding-bottom: 32px;     
    }
}


.contacts__icon {
    display: none;

    @include mq(tablet) {
        display: flex;
        margin-right: 10px;
        fill: currentColor;
        
    }
}

.mobile-socials {
    @include mq(mobile-only){
        margin-top: 64px;
    }
    @include mq(tablet){
        display: none;
    }
}

.mobile-socials__item {
    display: inline-block;
    &:not(:first-child){
        margin-left: 10px;
    }
}

.mobile-socials__item:not(:last-child){
    &::after{
            content:'';
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            margin-left: 10px;
    }
}

.mobile-socials__link {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $brand-color;
}