.section__hero {
    margin-left: auto;
    margin-right: auto;

    @include mq(mobile-only){
        width: 480px;
        // max-width: 480px;
        // width: 100%;
        height: 400px;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Hero/Hero-img-mob.png);

        @include mq(retina){
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/Hero/Hero-img-mob@2x.png);
        }
    }
    

    @include mq(tablet-only){
        max-width: 768px;
        height: 400px;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Hero/Hero-img-tab.png);

        @include mq(retina){
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/Hero/Hero-img-tab@2x.png);
        }
    }

    @include mq(desktop){
        max-width: 1600px;
        height: 600px;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Hero/Hero-img-desk.png);

        @include mq(retina){
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/Hero/Hero-img-desk@2x.png);
        }
    }
    

    background-size: cover;
    text-align: center;
}

.hero-content-wrapper {
    @include mq(mobile-only) {
        padding-top: 118px;
        padding-bottom: 118px;
    }
    
    @include mq(tablet-only) {
        padding-top: 118px;
        padding-bottom: 118px;
    }

    @include mq(desktop){
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.section-hero__title {
    margin-bottom: 30px;
    color: $white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include mq(desktop) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;

    color: $white-color;
    background-color: $brand-color;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: $brand-color;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
}