.section {
    &--grey-background {
    background-color: $secondary-background;
    
    }
}

.team-list {
    @include mq(tablet-only) {
        display: flex;
        flex-wrap: wrap;
    }
    @include mq(desktop) {
        display: flex;
    }
}

.teammate {
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @include mq(mobile-only){
        &:not(:last-child) {
        margin-bottom: 30px;
        }
    }
    @include mq(tablet-only) {
        width: 354px;
        &:nth-child(-n+2){
            margin-bottom: 30px;
        }
        &:nth-child(2n+1){
            margin-right: 30px;
        }
    }

    @include mq(desktop) {
        &:not(:last-child){
            margin-right: 30px;
        }
    }
}

.teammate__desc {
    padding-top: 30px;
    padding-bottom: 24px;

    background-color: $white-color;
}

.teammate__name {
    color: $title-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.teammate__post {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 16px;
}

.socials__item {
    &:not(:last-child) {
    margin-right: 10px;
    }
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    color: $icon-color;

    border-radius: 50%;

    transition: color $transition-duration $transition-timing-function, background-color $transition-duration $transition-timing-function;
    &:hover, &focus {
        color: $white-color;
        background-color: $brand-color;
    }
}

.socials__icon {
    fill: currentColor;
}
