$brand-color: #2196f3;
$title-color: #212121;
$text-color: #757575;
$main-font: roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
$white-color: #ffffff;
$contact-color: rgba(255, 255, 255, 0.6);
$main-background: #ffffff;
$secondary-background: #f5f4fa;
$icon-color: #afb1b8;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
